<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
     <!-- <form (ngSubmit)="registrar()"> -->
        <form>
          <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre"  #Nombre="ngModel" [(ngModel)]="user.name">
          </div>
        <div class="mb-3">
          <label for="Apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="Apellido" name="Apellido" #Apellido="ngModel" [(ngModel)]="user.lastName">
        </div>
        <div class="mb-3">
          <label for="Usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="Usuario" name="Usuario" #Usuario="ngModel" [(ngModel)]="user.user">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)]="user.password">
        </div>
        <div class="mb-3">
          <label for="Correo" class="form-label">Email</label>
          <input type="email" class="form-control" id="Correo" name="Correo" #Correo="ngModel" [(ngModel)]="user.email">
        </div>
        <div>
          <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="age" #age="ngModel" [(ngModel)]="user.age"  >
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </div>
        <button type="submit" class="btn btn-primary" (click)="registrar()" routerLink="">Registrar</button>
      </form>
    </div>
  </div>
</div>
