<div class="container">
  <div >
    <h1>Hotel {{hotelPost.name}}</h1>
  </div>
  <div class="row">
    <div class="col">
      <img src="{{hotelPost.imagen}}" alt="" class="img-thumbnail">
    </div>
    <div class="col">
      <form >

        <div class="form-floating" >
          <select class="form-select" id="service" name="service" #service="ngModel" [(ngModel)]="servisio.service" >
  <option value="Wi-Fi">Wi-Fi</option>
  <option value="Desayuno">Desayuno</option>
  <option value="Almuerzo">Almuerzo</option>
  <option value="Cena">Cena</option>
  <option value="Spa">Spa</option>
  <option value="Piscina">Piscina</option>
  <option value="Gimnasio">Gimnasio</option>
  <option value="MiniBar">MiniBar</option>
  <option value="MiniBar">MiniBar</option>
  <option value="Salón de belleza">Salón de belleza</option>
          </select>
          <label for="floatingSelect" placeholder="1">Servicio</label>
        </div><br>

      <div class="input-group mb-3">
        <span class="input-group-text">Q</span>
        <input type="Number" class="form-control" id="price" name="price"  #price="ngModel" [(ngModel)]="servisio.price" placeholder="1">
        <span class="input-group-text">.00</span>
      </div>

      <button type="button" class="btn btn-success" (click)="registrar()">Agregar</button>

      </form>

    </div>
    <div class="col">

    </div>
  </div>
</div>


<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col">
      <table class="table table-dark table-striped">

        <thead>

          <tr>
            <th scope="col">#</th>
            <th scope="col">Servicio</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tp of tata; let i = index">
            <th scope="row">{{i}}</th>
            <td >{{tp.service}}</td>
            <td>Q{{tp.price}}</td>

              <td>
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#edit" (click)="showId(tp._id)">Editar</button>
                <button type="button" class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#drop" (click)="showId(tp._id)">Eliminar</button>
              </td>


          </tr>

        </tbody>
      </table>

    </div>
    <div class="col-1">

    </div>
  </div>
</div>


<div class="modal  " id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="staticBackdropLabel">{{hotelPost.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <label for="price" class="form-label">Servicio</label>
            <input type="text" class="form-control" id="service"
            price="nombre" #service="ngModel" [(ngModel)]="serviceEdit.service" disabled>
      </div>

      <div class="modal-body">
        <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price"
            price="nombre" #price="ngModel" [(ngModel)]="serviceEdit.price">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn  btn-outline-info" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="editSErvice(serviceEdit._id)" >Editar</button>

      </div>
    </div>
  </div>
</div>


<div class="modal  " id="drop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="staticBackdropLabel" style="text-align:center">¿Quieres borrar este cuarto?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align:center">
        <h1>Servicio</h1>
        <h3  id="staticBackdropLabel">{{serviceEdit.service}}</h3>
       <h1>Precio</h1>
       <h3  id="staticBackdropLabel">Q{{serviceEdit.price}}</h3>
      </div>
      <div class="modal-footer">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-warning" type="button" data-bs-dismiss="modal" (click)="eliminarService(serviceEdit._id)">Si</button>
          <button class="btn btn-info" type="button" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
