<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

  <div style="margin-top:100px; text-align:center" >



    <div></div><br><button type="button" class="btn btn-outline-light" routerLink="/hoteles"><h2><img src="../../../assets/HotelIcon.png" class="img-fluid"  width="50" > Hoteles</h2></button>

    <div> <button type="button" class="btn btn-outline-light"><h2><img src="../../../assets/ServiceIcon.png"  class="img-fluid" width="50"> Servicio</h2></button>
 </div>

    <div><button type="button" class="btn btn-outline-light"><h2><img src="../../../assets/calendario.png"  class="img-fluid" width="50">Eventos</h2></button></div>

    <div><button type="button" class="btn btn-outline-light"  routerLink="/cuartos"><h2><img src="../../../assets/cuarto.png"  class="img-fluid" width="50">Cuarto</h2></button></div>

</div>


</div>
</nav>
