<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
     <!-- <form (ngSubmit)="registrar()"> -->
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>

            <input type="text" class="form-control" id="name" name="name"
            #name="ngModel" [(ngModel)]="cuentaModel.name" disabled >
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastName" name="lastName"
            #lastName="ngModel" [(ngModel)]="cuentaModel.lastName" disabled >
          </div>
          <div class="mb-3">
            <label for="user" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="user" name="user"
            #user="ngModel" [(ngModel)]="cuentaModel.user" disabled >
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email"
            #email="ngModel" [(ngModel)]="cuentaModel.email" disabled >
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Nacimiento</label>
            <div>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" name="age" #age="ngModel" [(ngModel)]="cuentaModel.age" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker" disabled></mat-datepicker-toggle >
                <mat-datepicker #picker ></mat-datepicker>
              </mat-form-field>
          </div>
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="type" name="type"
            #type="ngModel" [(ngModel)]="cuentaModel.type" disabled >
          </div>
          <div>
        </div>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary"
            data-bs-toggle="modal" data-bs-target="#editModal">Editar</button>
            <button type="button" class="btn btn-outline-danger"
            data-bs-toggle="modal" data-bs-target="#eliminarModal" (click)="obtenerUsuario(cuentaModel._id)">Eliminar</button>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <br>
  <div class="row">


    </div>
    <div class="col">
      <table class="table table-dark table-striped">

        <thead>

          <tr>
            <th scope="col">#</th>
            <th scope="col">Estado</th>
            <th scope="col">Entrada</th>
            <th scope="col">Salida</th>
            <th scope="col">Servicios</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of reservation">
            <th scope="row">{{i}}</th>
            <td >{{r.state}}</td>
            <td > <mat-form-field>
              <input matInput [matDatepicker]="checkIn" value="{{r.checkIn}}"  disabled>
              <mat-datepicker-toggle matSuffix [for]="checkIn" disabled></mat-datepicker-toggle >
              <mat-datepicker #checkIn > </mat-datepicker>
            </mat-form-field></td>
            <td><mat-form-field>
              <input matInput [matDatepicker]="CheckOut" value="{{r.checkOut}}"  disabled>
              <mat-datepicker-toggle matSuffix [for]="CheckOut" disabled></mat-datepicker-toggle >
              <mat-datepicker #CheckOut > </mat-datepicker>
            </mat-form-field></td>
            <td >
              <select >
                <option class="form-select" aria-label="Default select example" *ngFor="let g of r.services; let i = index ">{{g.service}}</option>
              </select>
            </td>


              <td >
                <div >
                  <button *ngIf="r.state === 'Reservado'" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#servicio" (click)="obtenerServicios(r.room.hotel, r._id)">Agregar Servicio</button><br>
                  <button *ngIf="r.state === 'Curso' || r.state === 'Finalizado' || r.state === 'Reservado'"  type="button" class="btn btn-outline-info"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showBill(r._id)" >Factura</button><br>
                  <button *ngIf="r.state === 'Curso' || r.state === 'Finalizado' || r.state === 'Reservado'"  type="button" class="btn btn-outline-info" (click)="generateBill(r._id)" >Generar</button><br>
                  <button *ngIf="r.state === 'Reservado'" type="button" class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#cancelar" (click)="obtenerReservacion(r._id)">Cancelar</button>

                </div>
                </td>


          </tr>

        </tbody>
      </table>

    </div>
    <div class="col-1">

    </div>
  </div>



  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Factura</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Hotel: <p>{{this.room.hotel.name}}</p></h3>
          .....................................................................................
          <h3>Cuarto:   </h3>
          <p>Camas: {{this.room.beds}}</p>
          <p>Precio: Q{{this.room.price}}</p>
          <p>
            Entrada:
            <mat-form-field>
              <input matInput [matDatepicker]="checkIn" value="{{serviciosFac.checkIn}}"  disabled>
              <mat-datepicker-toggle matSuffix [for]="checkIn" disabled></mat-datepicker-toggle >
              <mat-datepicker #checkIn > </mat-datepicker>
            </mat-form-field>
          </p>
          <p>
            Salida:
            <mat-form-field>
              <input matInput [matDatepicker]="checkIn" value="{{serviciosFac.checkOut}}"  disabled>
              <mat-datepicker-toggle matSuffix [for]="checkIn" disabled></mat-datepicker-toggle >
              <mat-datepicker #checkIn > </mat-datepicker>
            </mat-form-field>
          </p>
          <p>Dias:  {{bill.days}}</p>
          <p>Sub-total:  {{bill.days * this.room.price}}</p>
          .....................................................................................
          <h3>Servicios:   </h3>

          <p *ngFor="let s of serviciosFac.services"> {{s.service}} :  Q{{s.price}} </p>
          .....................................................................................
          <h3>Total:  Q{{bill.total}}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- ModalServicio -->
<div class="modal fade" id="servicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Servicios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form >
 <div class="modal-body">
  <select class="form-select" id="_id" name="_id"  #_id="ngModel" [(ngModel)]="serviceEdit._id"   >
      <option value=""></option>
      <option *ngFor="let ss of service" value="{{ss._id}}">  {{ss.service}}</option>
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="capturar()" >Agregar</button>
      </div>

      </form>

    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name"
          #name="ngModel" [(ngModel)]="cuentaModel.name"  >
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="lastName" name="lastName"
          #lastName="ngModel" [(ngModel)]="cuentaModel.lastName"  >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" name="email"
          #email="ngModel" [(ngModel)]="cuentaModel.email"  >
        </div>

          <div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarUsuario()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align:center">
        <h1>¿Quieres Eliminar Tu Cuenta?</h1>
        <h2>{{cuentaModel.user}}</h2>
        <div class="d-grid gap-2">
          <button class="btn btn-success" type="button" data-bs-dismiss="modal">No</button>
          <button class="btn btn-warning" type="button" data-bs-dismiss="modal"
          routerLink=""
          (click)="eliminarUsuario(cuentaModel._id)">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- ModalCancelar -->
  <div class="modal fade" id="cancelar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reservación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

   <div class="modal-body">
      <h2>¿Quieres cancelar esta reservación?</h2>
      <p style="color:#BCBB1D"> No se podra revertir</p>
    </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cancelarReservation()">Si</button>
  </div>
  </div>


